@model Proyecto_Gimnasio.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Producto</h1>
<link rel="stylesheet" href="~/css/Producto.css" />

<div class="card-container">
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-8">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/@Model.Image" alt="Imagen del producto" class="product-image" />
            }
            else
            {
                <span>No image</span>
            }
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>
    </dl>

    <div>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.IdProduct" class="btn btn-warning">Editar</a>
        }

        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>
