@model IEnumerable<Proyecto_Gimnasio.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<link rel="stylesheet" href="~/css/Producto.css" />
<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NameProduct)</th>
            <th>@Html.DisplayNameFor(model => model.Image)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.ExpirationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NameProduct)</td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="~/@item.Image" alt="Imagen del producto" class="table-image" />
                    }
                    else
                    {
                        <span>No image</span>
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.NameCategory)</td>

                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a>
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdProduct">Details</a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
